body{
    background: lightblue;
}
.mainform{
background-color:silver;
border:1px solid;
width:40%;
height:350px;
margin-left:30%;
margin-top:13%;
}
#sub{
margin-left:50%;
margin-top:5%;
}
body{
    background-color: white;
}