<div class="mainform">
    <table class="table-condensed table-striped col-md-12">
        
        <div class="row" style="margin:30px auto 80px auto; padding: 40px; font-size: 25pt;">
            <div class="col-md-6">
            <a routerLink="/AddUser"><i class="fa fa-plus-circle fa-3x"></i> User</a>
            </div>
            
            <div class="col-md-6">
                <a routerLink="/Advertise"><i class="fa fa-plus-circle fa-3x"></i> Advertise</a>
            </div>

            <div class="col-md-6">
                <a routerLink="/categories"><i class="fa fa-plus-circle fa-3x"></i> Categories</a>
            </div>
           
        </div>
        
        <div class="row" style="margin:0px auto 80px auto; padding: 40px;  font-size: 25pt;">
           
             <div class="col-md-6">
                 <a routerLink="/addPhoto"><i class="fa fa-plus-circle fa-3x"></i> Photo</a>
            </div>
            
            <div class="col-md-6">
                <a routerLink="/home"> <i class="fa fa-sign-out fa-3x"></i> Logout</a>
            </div>
        </div>
    </table>
</div>