<div class="mainform">
	
    <div class="col-md-12">

  <a routerLink="/addPhoto" class="btn btn-default"><i class="fa fa-plus-circle"></i> Photo</a>
        <a routerLink="/admin" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
    </div>
    
    <div class="col-md-12 bg-info"><h3>VIEW PHOTOS</h3></div>
    <table class="table-condensed table-striped col-md-12">
        
        <tr>
                <td>Sno</td>
                <td> Images</td>
                <td>Categories</td>
                <td>Delete</td>
        </tr>
            <tr>
                    <td></td>
                    <td class="col-md-1 col-sm-2"><img src="" width="60px" height="60px" class="img-responsive img-circle"></td>
                    <td></td>
                    <td><a href="">delete</a></td>
            </tr>
                    
</table>
</div>