   <div class="container" style="margin-bottom: 20px; ">
        <div class="col-md-12"><h1>MECHANICS</h1></div>
        
    </div>
  <div class="clearfix"></div>
  
  <div class="clearfix"></div>
  <div class="container">
 
   
      <div class="main-title">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h1>we are agent of different advertisment in Zanzibar</h1>
        <h3>like as land, buildings, electronic devices, sport goods etc</h3>
          </div>
          <div class=" col-sm-12 col-md-3">
            
        <a href="#" class="btn pull-right"><i class="fw-icon-arrow-right"></i> screw up</a>
          </div>
        </div>
        
      </div>
    
  
  <div class="ruler"></div>
</div>
<router-outlet></router-outlet>
