body{
    background-color: lightblue;
}
#table tr{
    margin: 10px 0;
}
#table td{
    margin-bottom: 20px;
}
.mainform{
background-color:lightgray;
border:1px solid;
width:80%;
margin-left:10%;
margin-top:60px;
}
#sub{
margin-left:50%;
margin-top:5%;
}
body{
    background-color: white;
}