<div class="mainform">
    <div class="col-md-12">
        <a routerLink="/Advertise" class="btn btn-default"><i class="fa fa-plus-circle"></i> Advertises</a>
        <a routerLink="/admin" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
    </div>

    <div class="col-md-12 bg-info text-center"><h3><i class="fa fa-eye"></i> Adverticementement</h3></div>
    
     <table class="table-condensed table-striped col-md-12">
        
         <tr>
                 <td>Sno</td>
                 <td>Adverticementement Title</td>
                 <td>Adverticementement Detail</td>
                 <td>Posted Date</td>
                 <td>Posted By</td>
                 <td>Delete</td>
         </tr>

             <tr *ngFor="let adver of advertisements">
                     <td>{{adver.id}}</td>
                     <td>{{adver.tittle}}</td>
                     <td>{{adver.details}}</td>
                      <td>{{adver.posteDate}}</td>
                     <td></td>
                     <td><a href="">delete</a></td>
             </tr>
        		 
     </table>
</div>
