
            body{
                background-color: lightblue;
            }
            #table tr{
                margin: 10px 0;
            }
            #table td{
                margin-bottom: 20px;
            }
	.mainform{
		background-color:silver;
		border:1px solid;
		width:50%;
		min-height:400px;
		margin-left:30%;
		margin-top:60px;
		}
		#sub{
			margin-left:50%;
			margin-top:5%;
		}